{% extends "layout.njk" %}
{% block content %}

<header>
    <h1>{{bird.name}} är en {{bird.species}}</h1>
</header>

<main class="container">
    <p>Han har ett vingspann på {{bird.wingspan}} mm</p>
</main>

{% endblock %}
