{% extends "layout.njk" %}
{% block content %}


<main class="container">
  {% for bird in birds %}
  <p>
    <a href="./birds/{{bird.id}}"><br><b>Name:</b> {{ bird.name }}, <b>species:</b> {{ bird.species }}</br></a>
  </p>
  {% endfor %}
</main>
</body>


{% endblock %}